{% extends "base.html" %}

{% block title %} {{publicacion.titulo}} {% endblock %}

{% block content %}
    <article>
        <h1>{{ publicacion.titulo }}</h1>
        <p><strong>Autor:</strong> {{ publicacion.autor }}</p>
        <p><em>Fecha de publicacion: {{ publicacion.fecha_publicacion }}</em></p>

        <hr>

        <div class="contenido">
            {{publicacion.contenido|linebreaks}}
        </div>
    </article>

    <hr>

    <p>
        <a href="{% url 'publicaciones:lista_publicaciones' %}">
            Volver al listado
        </a>

    </p>
{% endblock %}