{% extends "base.html" %}

{% block title %} Listado de publicaciones {% endblock %}

{% block content %}
    <h1>Listado de publicaciones</h1>

    {% for pub in publicacion_list %}
        <section>
            <h3>{{ pub.titulo }}</h3>
            <p><strong>Autor:</strong> {{ pub.autor }}</p>
            <p><small>Fecha de publicacion: {{pub.fecha_publicacion}}</small></p>

            <p>
                <a href="{% url 'publicaciones:detalle_publicacion' pub.pk %}">
                    Leer contenido completo
                </a>
            </p>
        </section>
        <hr>
    {% empty %}
        <p>No hay publicaciones disponibles. Vuelva mas tarde :p</p>
    {% endfor %}
{% endblock %}